	<footer>
		<div class="container">
			<div class="row well ml-t">
				<div class="col-lg-8 col-md-8">
					<h4>Developed by: <a http://nicolas-magi.tumblr.com/" target="_blank" class="text-info m-r">Nicolas MAGI</a></h4>
					<div class="personal-sm></div>
				<div class="col-lg-4 col-md-4 text-right">
					<p class="m-t"><a href="http://nicolas-magi.tumblr.com/" target="_blank" class="text-info">www.nicolas-magi.tumblr.com</a></p>
					<p>4AUFA-Paris</p>
				</div>
			</div>
		</div>
	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="//cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/libraries/lobibox/lobibox.min.js"></script>
	<script src="/libraries/imageviewer/imageviewer.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/global.js"></script>
</body>
</html>